html {  
    padding-left: 10%;
    padding-right: 10%;
    background-color: white;
}

header {
    text-align: center;
    background-color: peachpuff;
    padding-top: 10px;
    padding-bottom: 10px;
}

.section-content {
    background-color: powderblue;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    color: black;
}

#jajar-genjang {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: white;
    border: 0px;
    color:blue;
}

/*Luas Segitiga*/
.section-2 {
    background-color: peachpuff;
    padding-top: 15px;
    padding-bottom: 15px;
    margin: 0;
    text-align: center;
}

.imageluas {
    display: flex;
    margin-right: auto;
    margin-left: auto;
    padding-left: 250px;
    padding-right: 250px;
    padding-top: 50px;
    padding-bottom: 50px;
}

h3 {
    text-align: center;
}

#rumus {
    text-align: center;
    font-size: 20px;
}

#luas-segitiga {
    text-align: center; 
    border-radius: 5px;
}

input {
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
}

#hitungLuas {
    background-color: khaki;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;
    border-radius: 5px;
    display: block;
    margin: auto;
}

#resetLuas {
    background-color: indianred;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;
    border-radius: 5px;
    display: block;
    margin: auto;
}


/*Keliling Segitiga*/
.section-3 {
    background-color: peachpuff;
    padding-top: 15px;
    padding-bottom: 15px;
    margin: 0;
    text-align: center;
}

.imagekeliling {
    display: flex;
    margin-right: auto;
    margin-left: auto;
    height: 300px;
    padding-left: 350px;
    padding-right: 350px;
    padding-top: 50px;
    padding-bottom: 50px;
}

#keliling-segitiga {
    text-align: center;
}

#hitungKeliling {
    background-color: khaki;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;
    border-radius: 5px;
    display: block;
    margin: auto;
}

#resetKeliling {
    background-color: indianred;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;
    border-radius: 5px;
    display: block;
    margin: auto;
}
